
img { 
    width:50%; 
}
h1 {
font-size: 40px;
color: rgb(0, 144, 0);
text-align: center;
font-family: "Courier", Courier, serif;
}
p {
font-size: 12px;
text-align: center;
}
div#images {
    display: table;
}
div.row {
	display: table-row;
}
